KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=example
KEYCLOAK_DATABASE_HOST=postgres
KEYCLOAK_DATABASE_PORT=
KEYCLOAK_DATABASE_NAME=keycloak_dev
KEYCLOAK_DATABASE_USER=keycloak_dev
KEYCLOAK_DATABASE_PASSWORD=keycloak_dev
